.menu ul {
  border-bottom: 1px solid #ddd;
	list-style-type: none;
  margin-left: 0px;
  margin-right: 0px;
}

.menu ul li {
  color: #B5152D;
  font-weight: bold;
	border: 1px solid #ddd;
  border-bottom: none;
  margin: 0px;
	padding: 5px;
}

.menu ul li ul {
	border: none;
}

.menu ul li ul li {
  color: #B5152D;
  font-weight: bold;
  border: none;
  padding-top: 0px;
  padding-bottom: 0px;
}

.menu a {
  color: #666666;
  font-weight: bold;
	text-decoration: none;
}

h3 {
  color: #666666;
  font-style: italic;
}

.even {
  background:#E5ECF9;
}

.chatLine {
  padding-bottom: 3px;
  padding-top:    3px;
}
