.sidebar {
}

.menu ul {
  border-bottom: 1px solid #ddd;
	list-style-type: none;
  margin-left: 0px;
  margin-right: 0px;
}

.menu ul li {
	border: 1px solid #ddd;
  border-bottom: none;
  margin: 0px;
	padding: 5px;
}

.menu ul li ul {
	border: none;
}

.menu ul li ul li {
  border: none;
  padding-top: 0px;
  padding-bottom: 0px;
}

.menu a {
	text-decoration: none;
}
