# Build directory
target

# Mac stuff
.DS_Store

# Eclipse stuff
.classpath
.launch
.metadata
.project
.scala_dependencies
.settings

# IntelliJ stuff
.idea
*.iml
*.ipr
*.iws

# Chatter stuff
kix.h2.*
kix.log

#DB
kix.lock.db
kix.trace.db